@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Libre+Baskerville&display=swap');

* {
  font-family: Libre Baskerville
}
body {
  height: 100vh;
  background-image: linear-gradient( -40deg, #0c0003 0%, #41000e 46%, #db0030 100% );
}

/* Nav Bar */
.Navbar-Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.Navbar-Item {
  width: 70%;
  height: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(126, 20, 20, 0.24);
}
.NavLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}
a{
  text-decoration: none;
  font-size: 15px;
  color: white;
}

/* Home Page */
.HomePage {
  display: flex;
  justify-content: center;
  color: white;
  height: calc(100vh - 100px);
  align-items: center;
  flex-direction: column;
}

/* About Page */
.AboutPage {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}
.About-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: rgba(126, 20, 20, 0.24);
  width: 60%;
  border-radius: 25px;
  border: 1px solid #4e0014;
}

/* Skill Page */
.SkillPage {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}
.Skill-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  padding: 50px;
  background-color: rgba(126, 20, 20, 0.24);
  width: 60%;
  border-radius: 25px;
  border: 1px solid #4e0014;
}

/* Project Card */
.ProjectPage {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}
.Project-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  padding: 50px;
  background-color: rgba(126, 20, 20, 0.24);
  width: 60%;
  border-radius: 25px;
  border: 1px solid #4e0014;
}